/* .navBar {
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
} */